<h2>Recently Added</h2>
<div>
    <% books.forEach(book => { %>
        <a href="/books/<%= book.id %>">
            <img height="30%" width="30%" src="<%= book.coverImagePath %>">
        </a>
    <% }) %>
</div>